<div class="pt-20 pb-10 bg-header-purple bg-[url('/assets/logo/Vector.png')] bg-no-repeat bg-top bg-cover text-white px-4 md:px-20">
<div class="text-white py-20 px-4 md:px-8">
  <div class="max-w-screen-xl mx-auto space-y-10 text-center">

    <!-- Том зураг -->
    <img  src="/assets/info/info6.png" alt="Уран бүтээлчдийн сэтгэгдэл: С.Сэрчмаа, Namone, Танхай ерөөлч, Татар хамтлаг, Агиймаа, хөтлөгч ууганаа, мөнхийн реп, комедиан бээгий, хөтлөгч боки, дуучин ихэрсувд, youngsub" class="w-full max-w-6xl mx-auto mb-16 rounded-2xl object-cover shadow-2xl">

    <!-- Гарчиг -->
    <h3 class="text-2xl md:text-3xl font-bold text-center leading-snug">
     ArtisyHub апп ашиглан захиалга хийсэн хэрэглэгчийн сэтгэгдэл
    </h3>

    <!-- Хэсэг 1 -->
    <div class="space-y-4 text-left">
      <h3 class="text-xl text-center font-semibold">Хэрэглэгчийн сэтгэгдэл #1</h3>
     <p>“Би шинэ жилийн хөтлөгчөө таньдаг хүнээр олохоор хайж байсан ч хэтэрхий төвөгтэй байлаа. ArtisyHub-ийг ашигласан даруйд 5 минутын дотор хөтлөгчөө сонгож, баталгаажуулсан. Үнэхээр хялбар, найдвартай байсан.”Гэрэлмаа, HR менежер</p>
    </div>

    <!-- Хэсэг 2 -->
  <div class="space-y-4 text-left">
      <h3 class="text-xl text-center font-semibold">Хэрэглэгчийн сэтгэгдэл #2</h3>
     <p>“Апп дээр үнэ нь шууд харагддаг нь их таалагдсан. Өмнө нь утсаар яриад, тохиролцоод, хүлээгээд л байдаг байсан бол одоо нэг товч дараад л бүх зүйл тодорхой болсон. Хувийн арга хэмжээндээ DJ захиалсан, бүх зүйл OK байсан.”Тэмүүлэн, хувь хүн</p>
    </div>

    <!-- Хэсэг 3 -->
   <div class="space-y-4 text-left">
      <h3 class="text-xl text-center font-semibold">Хэрэглэгчийн сэтгэгдэл #3</h3>
     <p>“ArtisyHub-ээр дамжуулж дуучин захиалсан. Үнэхээр гоё уур амьсгал бүрдүүлсэн. Апп-аас шууд цаг, багцыг нь хараад, төлбөрөө баталгаажуулж, тайван байсан. Нэг ч удаа залгах шаардлага гараагүй!”Оюунаа, шинэхэн гэр бүл</p>
    </div>

    <!-- Хэсэг 4 -->
    <div class="space-y-4 text-left">
      <h3 class="text-xl text-center font-semibold">Хэрэглэгчийн сэтгэгдэл #4</h3>
     <p>“Таньдаг хүнээр дамжуулж захиалга хийхээсээ залхдаг байсан. Энэ апп бол яг хэрэгтэй зүйл байна. Захиалгатай, завгүй уран бүтээлчид шууд schedule нь идэвхгүй болдог тул буруу хүн рүү мессеж бичих ч шаардлагагүй.” Номин, эвент зохион байгуулагч</p>
    </div>

    <!-- Хэсэг 5 -->
    <div class="space-y-4 text-left">
      <h3 class="text-xl text-center font-semibold">Хэрэглэгчийн сэтгэгдэл #5</h3>
     <p>“Уран бүтээлч ирээд ‘үйлчилгээ үзүүлсэн’ гэдэг товч дардаг, би ч баталгаажуулдаг. Тэгээд л мөнгө нь шилждэг гэж мэдээд их итгэлтэй болсон. Найдвартай систем байна.” — Энхболд, жижиг бизнес эрхлэгч</p>
    </div>


   
    <!-- App CTA -->
    <div class="text-white py-6">
      <h4 class="text-lg md:text-xl text-center font-bold mb-4">
     Ямар ч дундын зуучлалгүй, албан ёсны платформ
      </h4>
      <div class="flex justify-center gap-3 flex-wrap">
        <a
          href="https://apps.apple.com/kr/app/artisyhub/id6642690974?l=en-GB"
          target="_blank"
          rel="noopener noreferrer"
          class="transform transition-transform duration-300 hover:scale-105"
          ><img
            src="assets/logo/appstore.png"
            alt="App Store"
            class="w-28 md:w-36"
        /></a>
        <a
          href="https://play.google.com/store/apps/details?id=mn.io.artisy&hl=en"
          target="_blank"
          rel="noopener noreferrer"
          class="transform transition-transform duration-300 hover:scale-105"
          ><img
            src="assets/logo/playstore.png"
            alt="Google Play"
            class="w-28 md:w-36"
        /></a>
      </div>
    </div>

  </div>
</div>

</div>