<div class="pt-20 pb-10 bg-header-purple bg-[url('/assets/logo/Vector.png')] bg-no-repeat bg-top bg-cover from-purple-900 via-indigo-900 to-blue-900 text-white px-4 md:px-20">

<section class="bg-[#0B0B3A] text-white py-12 px-4 rounded-3xl shadow-[0_0_24px_rgba(223,91,211,0.3)] max-w-6xl mx-auto mt-12">
  <div class="flex flex-col md:flex-row items-center gap-8">
    <img src="assets/artists/ceo.jpg" alt="ceo" class="w-64 h-auto rounded-2xl shadow-lg" />

    <div>
      <h2 class="text-2xl font-bold mb-4">Үүсгэн байгуулагч: Б.Мөнхболд</h2>
      <p class="text-gray-200 leading-relaxed">
        Сайн байна уу? Та бүхэнд энэ өдрийн мэнд хүргэе. Манай “АРТ ИСИ ХАБ” ХХК нь 2021 онд үүсгэн байгуулагдсан ба
        2022 оноос эхлэн “ArtisyHub” аппликейшны судалгаа, шинжилгээ, хөгжүүлэлт хийж 2024 оны 11 сард нээлтээ хийсэн.
        <br><br>
      Манай аппликейшн бүх төрлийн урлагийн үйлчилгээ, уран бүтээлчдийг нэг дор төвлөрүүлж, хэрэглэгчийг шууд, дундын зуучлалгүйгээр шууд албан ёсны платформоор холбож, ил тод үнийн мэдээлэлтэйгээр хамгийн хялбараар захиалга өгөх боломж олгохыг зорьсон.
      </p>
    </div>
  </div>
</section>

<section class="bg-[#0B0B3A] text-white py-12 px-4 rounded-3xl shadow-[0_0_24px_rgba(223,91,211,0.3)] max-w-6xl mx-auto mt-12">
  <div class="flex flex-col md:flex-row items-center gap-8">
    <img src="assets/artists/monnos2.jpg" alt="ceo" class="w-64 h-auto rounded-2xl shadow-lg" />

    <div>
      <h2 class="text-2xl font-bold mb-4">Хөрөнгө оруулагч: Х.Ананд /МОНОС ХК-н Гүйцэтгэх захирал/</h2>
      <p class="text-gray-200 leading-relaxed">
       Энэ аппликейшн бол Монголд маш хэрэгтэй зүйл. Бид хөтлөгч, дуучин гээд уран бүтээлчид захиалахад хүндрэлтэй олон асуудлууд тулгардаг. Мөн агент, зуучлагч гэх хувь хүн, албан байгууллагаар дамжуулан захиалахад дундаас нь хэдэн төгрөг аваад байгаа, уран бүтээлчийн жинхэнэ үнэ нь хэд гэдэг нь тодорхойгүй байдаг. Дээр нь төрийн үйлчилгээ, компаниуд энэхүү аппликейшнаар дамжуулан уран бүтээлчдээ захиалдаг болчихвол дарга нар нь бүрэн хяналт тавих боломжтой.
      </p>
    </div>
  </div>
</section>

<section class=" max-w-7xl mx-auto mt-12">
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
    <!-- Картаа давтан хий -->
    <div class="bg-[#0B0B3A] p-6 rounded-2xl text-center shadow-[0_0_16px_2px_rgba(223,91,211,0.25)]">
      <img src="assets/artists/iotech.png" alt="IOtech" class="w-20 h-20 mx-auto mb-4 rounded-lg object-contain" />
      <h3 class="text-lg font-semibold text-gray-200">Хөгжүүлэгч</h3>
      <p class="font-bold mt-1">IOtech ХХК</p>
    </div>
    
    <div class="bg-[#0B0B3A] p-6 rounded-2xl text-center shadow-[0_0_16px_2px_rgba(223,91,211,0.25)]">
      <img src="assets/artists/tatar.png" alt="Tatar" class="w-20 h-20 mx-auto mb-4 rounded-lg object-cover" />
      <h3 class="text-lg font-semibold text-gray-200">Артист зөвлөх</h3>
      <p class="font-bold mt-1">Татар хамтлаг</p>
    </div>

    <div class="bg-[#0B0B3A] p-6 rounded-2xl text-center shadow-[0_0_16px_2px_rgba(223,91,211,0.25)]">
      <img src="assets/artists/hamtragc-egc.png" alt="Lawyer" class="w-20 h-20 mx-auto mb-4 rounded-lg object-cover" />
      <h3 class="text-lg font-semibold text-gray-200">Хуулийн зөвлөх</h3>
      <p class="font-bold mt-1">Э.Мягмардорж</p>
    </div>

    <div class="bg-[#0B0B3A] p-6 rounded-2xl text-center shadow-[0_0_16px_2px_rgba(223,91,211,0.25)]">
      <img src="assets/artists/hamtragch.png" alt="InnoHub" class="w-20 h-20 mx-auto mb-4 rounded-lg object-cover" />
      <h3 class="text-lg font-semibold text-gray-200">Бизнес зөвлөх</h3>
      <p class="font-bold mt-1">InnoHub</p>
    </div>
  </div>
</section>

</div>