<div class="pt-20 pb-10 min-h-screen bg-header-purple bg-[url('/assets/logo/Vector.png')] bg-no-repeat bg-top bg-cover from-purple-900 via-indigo-900 to-blue-900 text-white px-4 md:px-10 lg:px-20">
  <section class="py-8 md:py-12 text-white max-w-7xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

      <!-- Цаг хугацаа -->
      <div class="bg-[#130045] rounded-3xl p-6 border-2 border-pink-500 shadow-md hover:scale-105 transition-transform">
        <div class="flex justify-center mb-4">
          <img src="assets/davuu-tal/clock.png" class="w-20 h-20" alt="Clock Icon" />
        </div>
        <h3 class="text-center font-bold text-2xl mb-3">ЦАГ ХУГАЦАА</h3>
        <p class="text-lg text-center leading-relaxed">
          Та богино хугацаанд маш хялбараар уран бүтээлчээ захиалах боломжтой. Олон уран бүтээлч рүү зэрэг хүсэлт явуулбал та бүр их цагаа хэмнэнэ.
        </p>
      </div>

      <!-- Ил тод байдал -->
      <div class="bg-[#130045] rounded-3xl p-6 border-2 border-blue-400 shadow-md hover:scale-105 transition-transform">
        <div class="flex justify-center mb-4">
          <img src="assets/davuu-tal/search.png" class="w-20 h-20" alt="Search Icon" />
        </div>
        <h3 class="text-center font-bold text-2xl mb-3">ИЛ ТОД БАЙДАЛ</h3>
        <p class="text-lg text-center leading-relaxed">
          Уран бүтээлчдийн үнэ, нэмэлт мэдээлэл болон таны арга хэмжээний өдөр цагт уран бүтээлч сул, завтай эсэхийг та шууд харах боломжтой.
        </p>
      </div>

      <!-- Найдвартай байдал -->
      <div class="bg-[#130045] rounded-3xl p-6 border-2 border-green-400 shadow-md hover:scale-105 transition-transform">
        <div class="flex justify-center mb-4">
          <img src="assets/davuu-tal/shield.png" class="w-20 h-20" alt="Shield Icon" />
        </div>
        <h3 class="text-center font-bold text-2xl mb-3">НАЙДВАРТАЙ БАЙДАЛ</h3>
        <p class="text-lg text-center leading-relaxed">
          Ямар ч дундын зуучлалгүй, албан ёсны уран бүтээлчтэй гэрээтэй баталгаат платформ. Бид таны өмнөөс уран бүтээлчтэй байнгын холбогдож таны арга хэмжээний талаар сануулна.
        </p>
      </div>

      <!-- Эрсдэлгүй -->
      <div class="bg-[#130045] rounded-3xl p-6 border-2 border-yellow-400 shadow-md hover:scale-105 transition-transform">
        <div class="flex justify-center mb-4">
          <img src="assets/davuu-tal/ideas.png" class="w-20 h-20" alt="Bulb Icon" />
        </div>
        <h3 class="text-center font-bold text-2xl mb-3">ЭРСДЭЛГҮЙ</h3>
        <p class="text-lg text-center leading-relaxed">
          Таны баталгаажуулсан төлбөр манай дансанд байршдаг бөгөөд гарах эрсдэлүүдээс сэргийлэх болон таныг арга хэмжээгээ цуцлах боломжийг олгодог.
        </p>
      </div>

    </div>
  </section>
</div>
