@tailwind base;
@tailwind components;
@tailwind utilities;

.bgcolor1{
      background-color: #DF5BD3;
}

.bgcolor2{
      background-color: #5E49D5;
}
.mockup{
      background-image: url("assets/mokup/mockup.png");
      background-position: bottom;
      background-size: 100% 100%;
}
/* styles.css эсвэл global styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
